{% extends 'base.html' %}

{% block content %}
<h1>Add a new blog post</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.title.label }}
            {{ form.title(class="form-control", placeholder="Title")}}
        </fieldset>
        <fieldset>
            {{ form.content.label }}
            {{ form.content(class="form-control", placeholder="Content")}}
        </fieldset>
        {{ form.submit(class="btn btn-success") }}
    </div>
</form>
{% endblock content %}